<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/retarded.css' %}">
    <meta charset="UTF-8">
    <title>Hurr Durr</title>
</head>
<body>
    <div class="jumbotron">
        <p>Meet Luiz Felipe Melo, the riddle's creator! </p>
        <p>Discord: Beryt#9550</p>
        <p>Steam: http://steamcommunity.com/id/lilipe/ </p>
        <p>Contact Email: luizf.mlobrc@gmail.com </p>
    </div>
</body>
</html>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102222694-1', 'auto');
  ga('send', 'pageview');
</script>