<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/riddle.css' %}">
    <meta charset="UTF-8">
    <title>3</title>
</head>
<body>
    <p><strong>kcuL dooG</strong></p>
    <hr />
    <div>
        <p>!rorriM</p><br />
        <p>. -.-. .-. ..- --- ...</p>
    </div>
    </body>
</html>
