<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/riddle.css' %}">
    <meta charset="UTF-8">
    <title>2</title>
</head>
<body>
    <p><strong>Good Luck!</strong></p>
    <hr />
    <div>
        <p>The answer was in the previous question :p</p><br />
    </div>
</body>
</html>
