<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/riddle.css' %}">
    <meta charset="UTF-8">
    <title>6</title>
</head>
<body>
    <div class="alert alert-info" role="alert">Well, as we can see, you made it this far.<strong>That Was only the tutorial.</strong></div>
    <div class="alert alert-warning" role="alert"><strong>The real puzzle  starts here.</strong></div>
    <p><strong>Good Luck!</strong></p>
    <hr />
    <div>
        <p>Ludwik Lejzer Zamenhof</p>
    </div>
    <!-- Translate to "?" -> "Hard" -->
</body>
</html>