body {
    font-family: 'Poiret One', cursive;
    margin: 25px;
    color: #039BE5;
    background-color: #424242;
}

h1 {
    color: #3F51B5;
}

.jumbotron {
    background-color: #757575;
}

.alert {
    font-size: 20px;

}

#retardado {
    width: 25%;
    height: 50%;
}

#areaPosts {
    font-size: 30px;
    background-color: #757575;
    color: 000;
    }

#tituloPosts {
    color FFF;
    font-size: 50px;
}

hr {
    border: none;
    height: 5px;
    color: #212121;
    background-color: #212121;
}